
<div class="container-fluid text-left" style="margin-top: 150px; max-width: 1200px;">


<h1 class="purple">Quem Somos</h1>
  <hr>
<h1 class="purple">Mel na Mídia</h1>
  <hr>
  https://www.youtube.com/watch?v=vD2bU_HQHQ4
  https://www.youtube.com/watch?v=Z26Dp4BKcwg
<h1 class="purple">Nossos Clientes</h1>
  <hr>

<p>Find me in app/views/welcome/index.html.erb</p>
</div>
