<div class="container-fluid " style="margin: 0px 0 0 0 ; padding: 0; ">
  <div class="container-fluid midia-container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 text-center"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
        <h1 class="about-page-titles midia-title">Mel na Mídia</h1></div>
      <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 text-center"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 midia-video-container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z26Dp4BKcwg"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 midia-video-container ">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vD2bU_HQHQ4"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
