<h1>Editing Product Size Category</h1>

<%= render 'form', product_size_category: @product_size_category %>

<%= link_to 'Show', @product_size_category %> |
<%= link_to 'Back', product_size_categories_path %>
