
<p>
  <strong>Name:</strong>
  <%= @product_size_category.name %>
</p>

<%= link_to 'Edit', edit_product_size_category_path(@product_size_category) %> |
<%= link_to 'Back', product_size_categories_path %>
