// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

@import "jquery.jcrop";

// Graphical variables
//@import "config/fonts";
@import "config/colors";
//@import "config/bootstrap_variables";
@import "navbar/navbar";
@import "footer";

// Your CSS partials
//@import "layouts/index";
//@import "components/index";
//@import "pages/index";

@import "index";
@import "products";
.page-content{
  padding-top: 180px;

}
.value-green{
  color: $value_color;
}
.mel-dark{
  color: $mel_dark;
}
.mel-light{
  color: $mel_light;
}
.transparent-background{
 background: transparent;
  border-color: $mel_dark;
}
.form-input:focus{
  border-color: rgba(109, 49, 14, 0.8);
  box-shadow: 0 1px 1px rgba(109, 49, 14, 0.075) inset, 0 0 8px rgba(109, 49, 14, 0.6);
  outline: 0 none

}
.form-button{
  background-color: $mel_dark;
  color: $mel_light;
  border-color: $mel_light;
}
.form-button:hover{
  background-color: $mel_light;
  color: $mel_dark;
  border-color: $mel_dark;
}

.form-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $mel_dark;
  font-weight: bold;
}
.form-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $mel_dark;
  opacity:  1;
}
.form-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $mel_dark;
  opacity:  1;
}
.form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $mel_dark;
}

.about-page-titles-clients{
  background-color: rgb(245,237,198) !important;

}

.about-page-titles{
  color: $mel_dark;
  background-color: rgba(245,237,198,0.7);

  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}
.midia-video-container{
  margin-top: 20px;
}
.about_us-title{
  color: #f1f1f1;
  //background-color: rgba(245,237,198,0.7);

  padding: 15px;
  //border-radius: 10px;
  font-weight: bold;
}
.about_us-text {
  color: #f1f1f1;
  //background-color: rgba(245,237,198,0.5);

  padding: 15px;
  border-radius: 10px;
  font-size: 130%;
  font-weight: bold;

}

.clients-container {
  margin: -10px 0 0 0 ;
  min-height: 600px;
  //background: asset_url("clients_background.jpg") center;
  background-size: cover;
}
.about-container{
  margin: 0;
  min-height: 600px;
  background: asset_url("about_background.jpg") center;
  background-size: cover;
}
#about-bottom-gradient {
  $brown: #9a6f5a;
  min-height: 10px;
  background: $brown; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($brown, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($brown, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($brown, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($brown, white); /* Standard syntax */
}
#about-top-gradient {
  $brown: #9a6f5a;
  min-height: 6px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, $brown); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, $brown); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, $brown); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, $brown); /* Standard syntax */
}
#clients-top-gradient {
  $brown: #000000;
  min-height: 10px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, $brown); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, $brown); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, $brown); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, $brown); /* Standard syntax */
}
#clients-bottom-gradient {
  $brown: #000000;
  min-height: 10px;
  background: $brown; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($brown, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($brown, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($brown, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($brown, white); /* Standard syntax */
}
.client-img-container-romanelli{
  background-color: #292f45 !important;
  margin-top: 10px;
}
.client-img-container-tipicamente{
  background-color: #f38634 !important;
  margin-top: 10px;
}
.client-img-container{
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
}


