// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// Graphical variables
//@import "config/fonts";
@import "config/colors";
//@import "config/bootstrap_variables";
@import "navbar/navbar";

// Your CSS partials
//@import "layouts/index";
//@import "components/index";
//@import "pages/index";

@import "index";


.mel-dark{
  color: $mel_dark;
}
.mel-light{
  color: $mel_light;
}
.menu-link:hover{
  color: $mel_dark;
}
.product-container{
  border-color: $mel_dark;
  background-color: transparent;
  border-radius: 10px;
}
  .dashboard-container{
    margin-top: 70px ;
    background: transparent !important;
  }
  .dashboard-menu-panel {
    //background: transparent !important;
    border-color: $mel_dark;
  }
  .dashboard-menu-head{
    background-color: transparent !important;
    color: $mel_dark !important;
  }
  .dashboard-menu-title{
  }
  .dashboard-menu-content-container{
    border-color: $mel_dark !important;
    //padding-left: 25px;
  }
  .dashboard-addresses-tbody td{

    border: none !important;
    //border-color: $water_light_60 !important;

  }
  .table-command-button{
    margin: 0 5px 0 5px;
  }
  .dashboard-menu-container {
    margin-top: 20px;

  }
