// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// Graphical variables
//@import "config/fonts";
@import "config/colors";
//@import "config/bootstrap_variables";
@import "navbar/navbar";

// Your CSS partials
//@import "layouts/index";
//@import "components/index";
//@import "pages/index";

@import "index";
@import "products";

.value-green{
  color: $value_color;
}
.mel-dark{
  color: $mel_dark;
}
.mel-light{
  color: $mel_light;
}









