<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center footer-text">
        Mel Doceria © Copyright 2015-2017. Todos os Direitos Reservados.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center footer-text">

        (21) 98276-4239 | contato@meldoceria.com.br
      </div>
    </div>

  </div>

</footer>